.loginform
{
  position: absolute;
  top: 20%;
}
.pass-wrapper
{
  position: relative;

}
.icons
{
  position: absolute;
  top:20%;
  left: 90%;
  cursor: pointer;
}
.iconsx
{
  position:absolute;
  top:55%;
  left:90%;
  cursor: pointer;

}